# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Secrets & Environment
.env
.env.*
!.env.example

# Logs & Temp
*.log
tmp/
temp/

# Node.js
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
.venv/
worktree
